@model Lovd.Models.KindOfFish

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KindOfFish</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KindOfFishHtml)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KindOfFishHtml)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoPreview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoPreview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Announce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Announce)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditFish" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="IndexFish">Back to List</a>
</div>
