@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KindOfFish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="EditLures">

            @{ foreach (var a in Model)
                {



                        <div class="form-group">
                                        <textarea class="textarea"  name="LuresHtml">@a.LuresHtml </textarea>
                            @*<input value="@a.LuresHtml" name="LuresHtml" class="form-control" />*@
                            <input type="hidden" value="@a.Id" name="Id" />
                        </div>
                    <div class="form-group">

                        <input value="@a.Date" name="Date" class="form-control" />

                    </div>
                    <div class="form-group">
                        <div class="myDivCover">
                            @{
                                var af = String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(@a.PhotoPreview));
                                <img object-fit="cover" class="myImg" src="@af" alt="im faded">
                            }
                        </div>
                        <div>Хотите новую картинку? </div>
                        <div class="form-group">
                            <input type="file" name="Photo">

                        </div>
                    </div>
                    <div class="form-group">

                        <input value="@a.Title" name="Title" class="form-control" />

                    </div>
                    <div class="form-group">

                        <input value="@a.Announce" name="Announce" class="form-control" />

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>} }
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexLures">Back to List</a>
</div>
<style>
    .textarea {
        width: 100%
    }
</style>
