@model IEnumerable<Lovd.Models.Lure>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateLures">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LuresHtml)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Announce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoPreview)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LuresHtml)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Announce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoPreview)
            </td>
            <td>
                <a asp-action="EditLures" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DetailsLures" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteLures" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
