@model IEnumerable<Lovd.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateArticles">Create New</a>
</p>
<div class="polygon">
<table class="table">
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.ArticleHtml)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisLikes)
            </th>
            <th>PhotoPreview</th>
            <th>
                @Html.DisplayNameFor(model => model.DateNews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Announce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>


        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td class="html" style="max-width:500px;">
                @Html.DisplayFor(modelItem => item.ArticleHtml)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisLikes)
            </td>
            <td>
                @{
                    <img object-fit="cover" class="myImg" src="@String.Format("data:image/gif;base64,{0}",Convert.ToBase64String(item.PhotoPreview))" alt="im faded">
                    }
<td>
                @Html.DisplayFor(modelItem => item.DateNews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Announce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="EditArticles" asp-route-id="@item.IdArticle">Edit</a> |
                <a asp-action="DetailsArticles" asp-route-id="@item.IdArticle">Details</a> |
                <a asp-action="DeleteArticles" asp-route-id="@item.IdArticle">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
<style>    .polygon {
        max-width: 300px;
    }
</style>