@using Microsoft.AspNetCore.Identity
@model IEnumerable<dynamic>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!doctype html>
<html lang="ru">
<head>
    <title>Bootstrap 4 Card (с шапкой)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/examples/vendors/bootstrap-4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div>
        @*<form  asp-controller="Article" asp-action="CreateBaits">
            <input />
        </form>*@
    </div>
    <div class="container">

        <h1 class="h4 text-center my-5"> Новости</h1>


        <div class="row">
            @foreach (var a in Model.Take(8))
            {@*@Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
            + Convert.ToBase64String(a.PhotoPreview ?? 3) + "\" />")*@
                <div class="col-md-6">
                    <!-- Карточка, в которой в качестве элемента шапки используется div -->
                    <div class="card mx-auto mb-4" style="max-width: 300px;min-height: 480px;max-height: 480px;">
                        <!-- Шапка -->
                        <div class="card-header">
                            @a.Title
                        </div>
                        <!-- Текстовый контент -->
                        <div class="card-body">
                            <div class="myDivCover">
                                @{
                                    var af = String.Format("data:image/gif;base64,{0}", @a.PhotoPreview);
                                    <img object-fit="cover" class="myImg" src="@af" alt="im faded">
                                }

                            </div>
                            <h4 class="card-title">@a.DateNews </h4>
                            <p class="card-text">@a.Announce</p>
                        </div>
                        <div>
                            <button style="border:0;" id="likebtn"><i class="fa fa-thumbs-up"></i></button>
                            <button style="border:0;" id="dislikebtn"><i class="fa fa-thumbs-down"></i></button>
                        </div>
                        <a asp-controller="Article" asp-action="DifferentsArticles" style="color:green;text-align:center; width:100%;" asp-route-id="@a.IdArticle">Перейти</a>
                    </div><!-- Конец карточки -->
                </div>
            }
        </div>
        <div class="container">
            <div class="row">
                @{
                    if (ViewBag.Count != null)
                        for (
                            int i = 1; i <= Math.Ceiling((double)(@ViewBag.Count) / 8); i++)
                        {
                            <a asp-controller="Article" asp-action="MainPage" asp-route-page="@(i-1)">@i</a>
                        }
                }


            </div>
        </div>
    </div>



    <!-- jQuery -->
    <script src="/examples/vendors/jquery/jquery-3.2.1.min.js"></script>
    <!-- Popper -->
    <script src="/examples/vendors/popper.js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/examples/vendors/bootstrap-4/js/bootstrap.min.js"></script>
    <script src="/ajax/googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/froala_editor.min.js"></script>

</body>
</html>

